In [12]:
import pandas as pd

In [16]:
file_path = (r"C:\Users\adaiu\OneDrive\Desktop\Analysis Projects\Electric-Car-Data-Analysis\Resources\Fuel Cost\Cleaned_dataset\ElectricityPerKwhAverage.csv")
electricity_price_df = pd.read_csv(file_path)
electricity_price_df.head()

  APU000072610 dateValue
0        0.046   1978-11
1        0.046   1978-12
2        0.046    1979-1
3        0.047    1979-2
4        0.047    1979-3

In [17]:
electricity_price_df.sort_values(by = 'dateValue')

    APU000072610 dateValue
0          0.046   1978-11
1          0.046   1978-12
2          0.046    1979-1
11         0.053   1979-10
12         0.051   1979-11
..           ...       ...
512        0.143    2021-7
513        0.144    2021-8
514        0.144    2021-9
518        0.147    2022-1
519        0.148    2022-2

[520 rows x 2 columns]

In [18]:
# electricity_price_df['yyyy'] = pd.to_datetime(electricity_price_df['DATE']).dt.year
# electricity_price_df['mm'] = pd.to_datetime(electricity_price_df['DATE']).dt.month
# electricity_price_df['dateValue'] = electricity_price_df['yyyy'].astype(str) + '-' + electricity_price_df['mm'].astype(str)

# electricity_price_df.head()

In [22]:
# electricity_price_df.drop(columns = ['DATE', 'yyyy', 'mm'], inplace=True)
electricity_price_df.rename(columns = {'APU000072610':'price_per_kwh'}, inplace=True)
electricity_price_df.head()

  price_per_kwh dateValue
0         0.046   1978-11
1         0.046   1978-12
2         0.046    1979-1
3         0.047    1979-2
4         0.047    1979-3

In [23]:
filepath=(r'C:\Users\adaiu\OneDrive\Desktop\Analysis Projects\Electric-Car-Data-Analysis\Resources\Fuel Cost\Cleaned_dataset\ElectricityPerKwhAverage_cleaned.csv')
electricity_price_df.to_csv(file_path, index = False)