In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import psycopg2
import sqlalchemy

In [2]:
connection = psycopg2.connect(
    host = 'teamev.c5ap8dqhexya.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'dogecoin',
    database='postgres'
    )
cursor=connection.cursor()

sql = """
SELECT * FROM monthly_sales; 
"""

df = pd.read_sql(sql, con=connection)
# Loading Data
# df = pd.read_sql_table('monthly_sales', con=connection)
# file_path = "<insert_file_path_right_here"
# df = pd.read_csv(file_path)
df.head(10)

   date_value date_id  modelId  monthly_sales
0  2011-01-31  40,574        1            0.0
1  2011-02-28  40,602        1            0.0
2  2011-03-31  40,633        1            0.0
3  2011-04-30  40,663        1            0.0
4  2011-05-31  40,694        1            0.0
5  2011-06-30  40,724        1            0.0
6  2011-07-31  40,755        1            0.0
7  2011-08-31  40,786        1            0.0
8  2011-09-30  40,816        1            0.0
9  2011-10-31  40,847        1            0.0

In [ ]:
plt.scatter(df.<month-year>, df.<EV Sales>)
plt.xlabel('<month-year>')
plt.ylabel('<EV Sales>')
plt.show()

In [ ]:
X = df.<month-year>.values.reshape(-1, 1)

In [ ]:
X[:5]

In [ ]:
X.shape

In [ ]:
y = <EV Sales>

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X, y)

In [ ]:
y_pred = model.predict(X)
print(y_pred.shape)

In [ ]:
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.show()

In [ ]:
print(model.coef_)
print(model.intercept_)