In [7]:
import pandas as pd
import sqlalchemy
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans
import psycopg2

In [13]:
connection = psycopg2.connect(
    host = 'teamev.c5ap8dqhexya.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'dogecoin',
    database='postgres'
    )
cursor=connection.cursor()

sql = """
SELECT * FROM monthly_sales; 
"""

df = pd.read_sql(sql, con=connection)
# Loading Data
# df = pd.read_sql_table('monthly_sales', con=connection)
# file_path = "<insert_file_path_right_here"
# df = pd.read_csv(file_path)
df.head(10)

   date_value date_id  modelId  monthly_sales
0  2011-01-31  40,574        1            0.0
1  2011-02-28  40,602        1            0.0
2  2011-03-31  40,633        1            0.0
3  2011-04-30  40,663        1            0.0
4  2011-05-31  40,694        1            0.0
5  2011-06-30  40,724        1            0.0
6  2011-07-31  40,755        1            0.0
7  2011-08-31  40,786        1            0.0
8  2011-09-30  40,816        1            0.0
9  2011-10-31  40,847        1            0.0

In [9]:
# Placeholder cell for ETL

In [10]:
# Placeholder cell for LabelEncoder

In [ ]:
# Placeholder for Scaler

In [3]:
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of K values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(df)
    inertia.append(km.inertia_)

In [4]:
# Define a DataFrame to plot the Elbow Curve using hvPlot
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x="k", y="inertia", title="Elbow Curve", xticks=k)

In [5]:
def get_clusters(k, data):
    # Create a copy of the DataFrame
    data = data.copy()

    # Initialize the K-Means model
    model = KMeans(n_clusters=k, random_state=0)

    # Fit the model
    model.fit(data)

    # Predict clusters
    predictions = model.predict(data)

    # Create return DataFrame with predicted clusters
    data["class"] = model.labels_

    return data

In [7]:
# Determine the number of clusters based on the 
five_clusters = get_clusters(5, df)
five_clusters.head()

In [8]:
# Plotting the 2D-Scatter with x="<feature>" and y="<feature>"
five_clusters.hvplot.scatter(x="<feature>", y="<feature>", by="class")

In [ ]:
# Plot the 3D-scatter with x="<feature>", y="<feature>" and z="<feature>"
fig = px.scatter_3d(
    five_clusters,
    x="<feature>",
    y="<feature>",
    z="<feature>",
    color="class",
    symbol="class",
    width=800,
)
fig.update_layout(legend=dict(x=0, y=1))
fig.show()