In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
# spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [80.4 kB]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [932 kB]
Hit:14 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,479 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:18 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,628 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,827 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,257 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,067 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [936 kB]
Get:24 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.2 kB]
Fetched 13.5 MB in 4s (3,177 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-03-19 15:56:03--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  6.11MB/s    in 0.2s

2022-03-19 15:56:03 (6.11 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

## Load S3 Data into Spark DataFrame

In [12]:
from pyspark import SparkFiles

# Copy Base url and specific file names for each csv
base_url = 'https://srfassihi-bucket.s3.amazonaws.com/'
file1 = 'evModelLookup.csv'
file2 = 'alt_fuel_stations_Cleaned.csv'
file3 = 'BEA+City+Income+2018-2020_Cleaned.csv'
file4 = 'Electric_Vehicle_Population_Size_History_Cleaned.csv'
file5 = 'EvMonthlySales_Cleaned.csv'
file6 = 'EvsLightDutyDetails_Cleaned.csv'
file7 = 'FuelEconomygovVehicles_Cleaned.csv'
file8 = 'gasolinePriceData_Cleaned.csv'
file9 = 'total_fuel_stations_byState.csv'
file10 = 'UsTotalSalesVehicles.csv'
file11 = 'ElectricityPerKwhAverage.csv'
file12 = 'BEA+County+Income+2018-2020+cleaned.csv'
# file13 = 'laws_and_incentives (Mar 9 2022)_Cleaned.csv'


#Read file(s) into Spark DataFrame
spark.sparkContext.addFile(f'{base_url}{file1}')
df1 = spark.read.csv(SparkFiles.get(file1), sep=",", header=True, inferSchema=True)
print(f'Table for {file1}:')
df1.show(10)

spark.sparkContext.addFile(f'{base_url}{file2}')
df2 = spark.read.csv(SparkFiles.get(file2), sep=",", header=True, inferSchema=True)
print(f'Table for {file2}:')
df2.show(10)

spark.sparkContext.addFile(f'{base_url}{file3}')
df3 = spark.read.csv(SparkFiles.get(file3), sep=",", header=True, inferSchema=True)
print(f'Table for {file3}:')
df3.show(10)

spark.sparkContext.addFile(f'{base_url}{file4}')
df4 = spark.read.csv(SparkFiles.get(file4), sep=",", header=True, inferSchema=True)
print(f'Table for {file4}:')
df4.show(10)

spark.sparkContext.addFile(f'{base_url}{file5}')
df5 = spark.read.csv(SparkFiles.get(file5), sep=",", header=True, inferSchema=True)
print(f'Table for {file5}:')
df5.show(10)

spark.sparkContext.addFile(f'{base_url}{file6}')
df6 = spark.read.csv(SparkFiles.get(file6), sep=",", header=True, inferSchema=True)
print(f'Table for {file6}:')
df6.show(10)

spark.sparkContext.addFile(f'{base_url}{file7}')
df7 = spark.read.csv(SparkFiles.get(file7), sep=",", header=True, inferSchema=True)
print(f'Table for {file7}:')
df7.show(10)

spark.sparkContext.addFile(f'{base_url}{file8}')
df8 = spark.read.csv(SparkFiles.get(file8), sep=",", header=True, inferSchema=True)
print(f'Table for {file8}:')
df8.show(10)

spark.sparkContext.addFile(f'{base_url}{file9}')
df9 = spark.read.csv(SparkFiles.get(file9), sep=",", header=True, inferSchema=True)
print(f'Table for {file9}:')
df9.show(10)

spark.sparkContext.addFile(f'{base_url}{file10}')
df10 = spark.read.csv(SparkFiles.get(file10), sep=",", header=True, inferSchema=True)
print(f'Table for {file10}:')
df10.show(10)

spark.sparkContext.addFile(f'{base_url}{file11}')
df11 = spark.read.csv(SparkFiles.get(file11), sep=",", header=True, inferSchema=True)
print(f'Table for {file11}:')
df11.show(10)

spark.sparkContext.addFile(f'{base_url}{file12}')
df12 = spark.read.csv(SparkFiles.get(file12), sep=",", header=True, inferSchema=True)
print(f'Table for {file12}:')
df12.show(10)

# spark.sparkContext.addFile(f'{base_url}{file13}')
# df = spark.read.csv(SparkFiles.get(file13), sep=",", header=True, inferSchema=True)
# df.show(10)

Table for evModelLookup.csv:
+-------+--------------------+---------+-------+-------------------+-----------------+-------------------+------+--------+-------+-------------+----------------------+------------------------+---------------------+-------------+---------------+-----------+--------------------------------+-----------------------------+----------------------+--------+
|modelId|       modelFullName|brandName|brandId|          modelName|epaClassification|epaClassificationId|evType|evTypeId|retired|startingPrice|startingPriceThousands|epaFuelEconomyEquivalent|rangeMilesBatteryOnly|rangeCombined|rangeBatteryPct|rangeGasPct|rangeElectricPriceThousandsRatio|rangeTotalPriceThousandsRatio|mpgPriceThousandsRatio|tankSize|
+-------+--------------------+---------+-------+-------------------+-----------------+-------------------+------+--------+-------+-------------+----------------------+------------------------+---------------------+-------------+---------------+-----------+--------------------------------+-----------------------------+----------------------+--------+
|      1|Audi A3 Sportback...|     Audi|      1|A3 Sportback e-tron|          compact|                  1|    ev|       1|     no|        45125|                45.125|                      83|                   75|           75|          100.0|        0.0|                     1.662049861|                  1.662049861|            1.83933518|    null|
|      2|         Audi e-tron|     Audi|      1|             e-tron|              suv|                  6|    ev|       1|     no|        75795|                75.795|                      74|                  204|          204|          100.0|        0.0|                     2.691470414|                  2.691470414|          0.9763176991|    null|
|      3|            BMW 330e|      BMW|      2|               330e|            sedan|                  4|hybrid|       2|     no|        42950|                 42.95|                      25|                   23|          320|         7.1875|    92.8125|                    0.5355064028|                  7.450523865|          0.5820721769|    11.9|
|      4|            BMW 530e|      BMW|      2|               530e|            sedan|                  4|hybrid|       2|     no|        57200|                  57.2|                      37|                   21|          350|            6.0|       94.0|                    0.3671328671|                  6.118881119|          0.6468531469|     8.9|
|      5|            BMW 740e|      BMW|      2|               740e|            sedan|                  4|hybrid|       2|     no|        90700|                  90.7|                      27|                   14|          340|    4.117647059|95.88235294|                    0.1543550165|                   3.74862183|          0.2976846748|    12.1|
|      6|              BMW i3|      BMW|      2|                 i3|          compact|                  1|    ev|       1|     no|        45445|                45.445|                     102|                  153|          153|          100.0|        0.0|                     3.366707008|                  3.366707008|           2.244471339|    null|
|      7|              BMW i8|      BMW|      2|                 i8|            coupe|                  2|hybrid|       2|     no|       148495|               148.495|                      35|                   18|          320|          5.625|     94.375|                    0.1212162026|                  2.154954712|          0.2356981717|     8.6|
|      8|    BMWX5 xDrive 40e|    BMWX5|      2|         xDrive 40e|              suv|                  6|hybrid|       2|     no|        66395|                66.395|                      25|                   14|          540|    2.592592593|97.40740741|                    0.2108592514|                  8.133142556|          0.3765343776|    21.0|
|      9|   Cadillac CT6 PHEV| Cadillac|      3|           CT6 PHEV|            sedan|                  4|hybrid|       2|     no|        76090|                 76.09|                      26|                   31|          400|           7.75|      92.25|                    0.4074122749|                   5.25693258|          0.3417006177|    14.2|
|     10|        Cadillac ELR| Cadillac|      3|                ELR|            coupe|                  2|hybrid|       2|    yes|        65995|                65.995|                      37|                   37|          340|    10.88235294|89.11764706|                     0.560648534|                  5.151905447|           0.560648534|     8.2|
+-------+--------------------+---------+-------+-------------------+-----------------+-------------------+------+--------+-------+-------------+----------------------+------------------------+---------------------+-------------+---------------+-----------+--------------------------------+-----------------------------+----------------------+--------+
only showing top 10 rows

Table for alt_fuel_stations_Cleaned.csv:
+------+--------------+--------------------+--------------------+---------+-----+-----+--------------------+-------------------+--------------+----------------+-----------------+-------------------+--------------------+----------+------------------+-------+
|    ID|Fuel Type Code|        Station Name|      Street Address|     City|State|  ZIP|    Access Days Time|         EV Network|Geocode Status|        Latitude|        Longitude|Date Last Confirmed|          Updated At| Open Date|EV Connector Types|Country|
+------+--------------+--------------------+--------------------+---------+-----+-----+--------------------+-------------------+--------------+----------------+-----------------+-------------------+--------------------+----------+------------------+-------+
|169333|          ELEC|VIP LOT CHARGER V...|    1000 ARLBERG AVE| GIRDWOOD|   AK|99587|      24 hours daily|ChargePoint Network|           GPS|       60.971375|      -149.098667|         2022-03-09|2022-03-09 00:32:...|2020-11-19|             J1772|     US|
|117441|          ELEC|      Statter Harbor|11497 Auke Bay Ha...|   Juneau|   AK|99801|      24 hours daily|      Non-Networked|           GPS|       58.386698|      -134.646337|         2022-01-10|2022-02-10 19:42:...|2018-11-15|             J1772|     US|
|117442|          ELEC| Treadwell Ice Arena|      105 Savikko Rd|  Douglas|   AK|99801|      24 hours daily|      Non-Networked|           GPS|        58.27397|      -134.390728|         2022-01-10|2022-02-10 19:42:...|2018-11-15|             J1772|     US|
|153497|          ELEC|University of Ala...| 11066 Auke Lake Way|   Juneau|   AK|99801|      24 hours daily|      Non-Networked|           GPS|       58.383902|      -134.639236|         2021-10-12|2022-02-10 19:42:...|2014-01-01|             J1772|     US|
|196545|          ELEC|    Anchorage Museum|            625 C St|Anchorage|   AK|99501|      24 hours daily|      Non-Networked|           GPS|61.2157121227527|-149.884839700095|         2021-10-12|2022-02-10 19:42:...|2021-09-30|             J1772|     US|
|201671|          ELEC|Soldotna - Tesla ...|43540 Whistle Hil...| Soldotna|   AK|99669|      24 hours daily|              Tesla|           GPS|       60.494628|      -151.045047|         2021-12-09|2022-02-10 19:42:...|2021-11-18|             TESLA|     US|
|170571|          ELEC|Chevrolet of Wasilla|    3700 E Parks Hwy|  Wasilla|   AK|99654|Dealership busine...|      Non-Networked|           GPS|       61.569624|      -149.356304|         2021-01-14|2021-08-04 00:01:...|2020-12-21|  J1772 J1772COMBO|     US|
|170572|          ELEC|          Turkey Red|     539 S Bailey St|   Palmer|   AK|99645|      24 hours daily|      Non-Networked|           GPS|       61.601874|      -149.115806|         2021-01-14|2021-08-04 00:01:...|2020-12-21|       J1772 TESLA|     US|
|170573|          ELEC|    Talkeetna Cabins|          22137 C St|Talkeetna|   AK|99676|      24 hours daily|      Non-Networked|           GPS|       62.323961|      -150.115178|         2021-01-14|2021-08-04 00:01:...|2020-12-21|             TESLA|     US|
|170574|          ELEC|         K2 Aviation|      14052 E 2nd St|Talkeetna|   AK|99676|      24 hours daily|      Non-Networked|           GPS|         62.3213|      -150.103386|         2021-01-14|2021-08-04 00:01:...|2020-12-21|             TESLA|     US|
+------+--------------+--------------------+--------------------+---------+-----+-----+--------------------+-------------------+--------------+----------------+-----------------+-------------------+--------------------+----------+------------------+-------+
only showing top 10 rows

Table for BEA+City+Income+2018-2020_Cleaned.csv:
+--------------------+------+------+------+------+
|                City| State|  2018|  2019|  2020|
+--------------------+------+------+------+------+
|             Abilene|    TX|44,039|46,493|49,948|
|               Akron|    OH|49,770|51,714|54,843|
|              Albany|    GA|36,889|38,764|42,744|
|      Albany-Lebanon|    OR|42,811|43,971|48,040|
|Albany-Schenectad...|    NY|57,743|60,500|65,112|
|         Albuquerque|    NM|42,129|43,975|47,442|
|          Alexandria|    LA|42,744|44,475|47,961|
|Allentown-Bethleh...| PA-NJ|53,518|55,363|59,193|
|             Altoona|    PA|46,236|47,573|52,096|
|            Amarillo|    TX|46,895|49,008|51,116|
+--------------------+------+------+------+------+
only showing top 10 rows

Table for Electric_Vehicle_Population_Size_History_Cleaned.csv:
+----------+--------------------------------------------+------------------------------------+---------------------------+
|      Date|Plug-In Hybrid Electric Vehicle (PHEV) Count|Battery Electric Vehicle (BEV) Count|Electric Vehicle (EV) Total|
+----------+--------------------------------------------+------------------------------------+---------------------------+
|2017-01-31|                                        8398|                               14799|                      23197|
|2017-02-28|                                        8618|                               15308|                      23926|
|2017-03-31|                                        8849|                               15799|                      24648|
|2017-04-30|                                        9032|                               16455|                      25487|
|2017-05-31|                                        9251|                               17031|                      26282|
|2017-06-30|                                        9466|                               17601|                      27067|
|2017-07-31|                                        9655|                               18120|                      27775|
|2017-08-31|                                        9876|                               18576|                      28452|
|2017-09-30|                                       10098|                               19076|                      29174|
|2017-10-31|                                       10381|                               19634|                      30015|
+----------+--------------------------------------------+------------------------------------+---------------------------+
only showing top 10 rows

Table for EvMonthlySales_Cleaned.csv:
+----------+-------+-------+-------------+
|date_value|date_id|modelId|monthly_sales|
+----------+-------+-------+-------------+
|2011-01-31| 40,574|      1|          0.0|
|2011-02-28| 40,602|      1|          0.0|
|2011-03-31| 40,633|      1|          0.0|
|2011-04-30| 40,663|      1|          0.0|
|2011-05-31| 40,694|      1|          0.0|
|2011-06-30| 40,724|      1|          0.0|
|2011-07-31| 40,755|      1|          0.0|
|2011-08-31| 40,786|      1|          0.0|
|2011-09-30| 40,816|      1|          0.0|
|2011-10-31| 40,847|      1|          0.0|
+----------+-------+-------+-------------+
only showing top 10 rows

Table for EvsLightDutyDetails_Cleaned.csv:
+----------+-----------------+------------+---------------+----------+-----------+---------------+-------+-----------------+------------------+
|Model Year|            Model|Manufacturer|Manufacturer ID|Vehicle ID|   Category|           Fuel|Fuel ID|Transmission Type|Engine Description|
+----------+-----------------+------------+---------------+----------+-----------+---------------+-------+-----------------+------------------+
|      2010|           Altima|      Nissan|            217|       941|Sedan/Wagon|Hybrid Electric|     45|        Automatic|              null|
|      2010|            Camry|      Toyota|            221|       943|Sedan/Wagon|Hybrid Electric|     45|        Automatic|              null|
|      2010|     Civic Hybrid|       Honda|            209|       935|Sedan/Wagon|Hybrid Electric|     45|        Automatic|              null|
|      2010|  Escalade Hybrid|    Cadillac|            231|       946|        SUV|Hybrid Electric|     45|        Automatic|              null|
|      2010|    Escape Hybrid|        Ford|            219|       945|        SUV|Hybrid Electric|     45|        Automatic|              null|
|      2010|Fusion Hybrid FWD|        Ford|            219|       914|Sedan/Wagon|Hybrid Electric|     45|        Automatic|              null|
|      2010|          HS 250h|       Lexus|            243|       931|Sedan/Wagon|Hybrid Electric|     45| V6, Hybrid, 3.5L|              null|
|      2010|       Highlander|      Toyota|            221|       948|        SUV|Hybrid Electric|     45|        Automatic|              null|
|      2010|          Insight|       Honda|            209|       986|Sedan/Wagon|Hybrid Electric|     45|        Automatic|              null|
|      2010|        Malibu LS|   Chevrolet|            215|       936|Sedan/Wagon|Hybrid Electric|     45|        Automatic|              null|
+----------+-----------------+------------+---------------+----------+-----------+---------------+-------+-----------------+------------------+
only showing top 10 rows

Table for FuelEconomygovVehicles_Cleaned.csv:
+----+-----+-------+--------------+---------+--------+---------+
|year| make|  model|         trany|rangeCity|rangeHwy|highway08|
+----+-----+-------+--------------+---------+--------+---------+
|2010|Acura|    TSX|  Manual 6-spd|      0.0|     0.0|       28|
|2010|Acura|    TSX|Automatic (S5)|      0.0|     0.0|       30|
|2010|Acura|    TSX|Automatic (S5)|      0.0|     0.0|       27|
|2010|Acura|     RL|Automatic (S5)|      0.0|     0.0|       22|
|2010|Acura|RDX 2WD|Automatic (S5)|      0.0|     0.0|       24|
|2010|Acura|RDX 4WD|Automatic (S5)|      0.0|     0.0|       22|
|2010|Acura| TL 2WD|Automatic (S5)|      0.0|     0.0|       26|
|2010|Acura| TL 4WD|  Manual 6-spd|      0.0|     0.0|       25|
|2010|Acura| TL 4WD|Automatic (S5)|      0.0|     0.0|       25|
|2010|Acura|MDX 4WD|Automatic (S6)|      0.0|     0.0|       21|
+----+-----+-------+--------------+---------+--------+---------+
only showing top 10 rows

Table for gasolinePriceData_Cleaned.csv:
+----------+------+-----------------+
|      date|dateId|pricePerGallonGas|
+----------+------+-----------------+
|2010-01-01|40,209|            2.715|
|2010-02-01|40,237|            2.644|
|2010-03-01|40,268|            2.772|
|2010-04-01|40,298|            2.848|
|2010-05-01|40,329|            2.836|
|2010-06-01|40,359|            2.732|
|2010-07-01|40,390|            2.729|
|2010-08-01|40,421|             2.73|
|2010-09-01|40,451|            2.705|
|2010-10-01|40,482|            2.801|
+----------+------+-----------------+
only showing top 10 rows

Table for total_fuel_stations_byState.csv:
+-----+------------------+
|State|Number_of_Stations|
+-----+------------------+
|   AK|                52|
|   AL|               271|
|   AR|               171|
|   AZ|               914|
|   CA|             14245|
|   CO|              1620|
|   CT|               528|
|   DC|               296|
|   DE|               138|
|   FL|              2671|
+-----+------------------+
only showing top 10 rows

Table for UsTotalSalesVehicles.csv:
+----------+-------+
|      DATE|TOTALSA|
+----------+-------+
|2000-01-01| 18.635|
|2000-02-01| 19.401|
|2000-03-01| 18.343|
|2000-04-01| 17.939|
|2000-05-01| 17.943|
|2000-06-01| 17.596|
|2000-07-01| 17.316|
|2000-08-01| 17.531|
|2000-09-01| 18.654|
|2000-10-01| 17.514|
+----------+-------+
only showing top 10 rows

Table for ElectricityPerKwhAverage.csv:
+----------+------------+
|      DATE|APU000072610|
+----------+------------+
|1978-11-01|       0.046|
|1978-12-01|       0.046|
|1979-01-01|       0.046|
|1979-02-01|       0.047|
|1979-03-01|       0.047|
|1979-04-01|       0.048|
|1979-05-01|       0.049|
|1979-06-01|       0.052|
|1979-07-01|       0.053|
|1979-08-01|       0.053|
+----------+------------+
only showing top 10 rows

Table for BEA+County+Income+2018-2020+cleaned.csv:
+--------+-----+----+-------+------+------+------+
|  County|FIPSC|FIPS|  State|  2018|  2019|  2020|
+--------+-----+----+-------+------+------+------+
| Autauga| 1001|1001|Alabama|42,931|44,368|46,814|
| Baldwin| 1003|1003|Alabama|46,905|48,270|50,953|
| Barbour| 1005|1005|Alabama|34,064|35,572|37,850|
|    Bibb| 1007|1007|Alabama|30,250|31,540|34,300|
|  Blount| 1009|1009|Alabama|35,905|36,969|38,808|
| Bullock| 1011|1011|Alabama|26,841|28,136|31,944|
|  Butler| 1013|1013|Alabama|35,932|38,073|39,988|
| Calhoun| 1015|1015|Alabama|36,482|37,708|40,195|
|Chambers| 1017|1017|Alabama|34,055|36,110|38,508|
|Cherokee| 1019|1019|Alabama|35,647|36,381|37,869|
+--------+-----+----+-------+------+------+------+
only showing top 10 rows

In [11]:
# !ls -l /tmp/spark-f7813379-6615-4d7f-8802-0b19dcf3face/userFiles-8ed8d5a3-55f0-4609-a15f-eda3c48485d8

ls: cannot access '/tmp/spark-f7813379-6615-4d7f-8802-0b19dcf3face/userFiles-8ed8d5a3-55f0-4609-a15f-eda3c48485d8': No such file or directory

In [36]:
# Convert dtypes to String
for col in df7.dtypes:
    print(col[0]+" , "+col[1])

year , int
make , string
model , string
trany , string
rangeCity , double
rangeHwy , double
highway08 , int

In [ ]:
# Convert string values to integer

## In PostGres use the following CREATE script to create the table

In [35]:
from typing import Text
table_name = 'fuel_economy'
script = f'CREATE TABLE {table_name} \n'f'DATE TEXT,\n'f'APU000072610 TEXT);'

# 'f'(County TEXT,\n'f'FIPSC INT,\n'f'FIPS INT,\n'f'State TEXT,\n'f'2018 INT,\n'f'2019 INT,\n'f'2020 INT);\n'
print(script)

CREATE TABLE fuel_economy
DATE TEXT,
APU000072610 TEXT);

## Connect to the AWS RDS Instance and write each DataFrame to its table

In [29]:
# Configure settings for RDS
# mode = "append"
mode = 'overwrite'
endpoint= 'teamev.c5ap8dqhexya.us-east-1.rds.amazonaws.com'
user_name = 'postgres'
pw = 'dogecoin'
jdbc_url=f"jdbc:postgresql://{endpoint}:5432/{user_name}"
config = {"user":f"{user_name}", 
          "password": pw, 
          "driver":"org.postgresql.Driver"}

In [37]:
# Write evModelLookup to table in RDS
df7.write.jdbc(url=jdbc_url, table= table_name, mode=mode, properties=config)