In [9]:
import pandas as pd
import psycopg2
import sqlalchemy

In [10]:
connection = psycopg2.connect(
    host = 'teamev.c5ap8dqhexya.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'dogecoin',
    database='postgres'
    )
cursor=connection.cursor()

sql = """
SELECT * FROM electricity_price; 
"""

df = pd.read_sql(sql, con=connection)
df.head(10)

         date price_per_kwh
0  1978-11-01         0.046
1  1978-12-01         0.046
2  1979-01-01         0.046
3  1979-02-01         0.047
4  1979-03-01         0.047
5  1979-04-01         0.048
6  1979-05-01         0.049
7  1979-06-01         0.052
8  1979-07-01         0.053
9  1979-08-01         0.053

In [13]:
df = df.astype({"date": str}, errors='raise') 
df.dtypes

date             object
price_per_kwh    object
dtype: object

In [14]:
df.drop(df.loc[df["date"] < "2010-01-01"].index, inplace = True)
df.reset_index(drop = True, inplace = True)
df.head()

         date price_per_kwh
0  2010-01-01         0.124
1  2010-02-01         0.123
2  2010-03-01         0.125
3  2010-04-01         0.126
4  2010-05-01         0.127

In [15]:
df.dtypes

date             object
price_per_kwh    object
dtype: object

In [17]:
filepath=(r'C:\Users\adaiu\OneDrive\Desktop\Analysis Projects\Electric-Car-Data-Analysis\Resources\Fuel Cost\Cleaned_dataset\Electricity_Price.csv')
df.to_csv(filepath, index = False)